    .landing-page__title {
        align-self: center;
        margin-bottom: 2rem;
        h1 {
            font-weight: 200;
            font-size: 4em;
            margin: 0;
            letter-spacing: .2em;
            cursor: pointer;
        }
        
        h2 {
            font-size: 1.3em;
            margin: 0;
            letter-spacing: .18em;
        }
    }
